{{define "new_post"}}
{{template "header" .}}
<div class="container">
	<form method="POST" action="/posts/create">
		<input type="hidden" name="user_id" id="user_id" value="{{.userID}}" />
		<div class="form-group">
			<label  for="title">Title</label>
			<input type="text" class="form-control" name="title" id="title" value="" />
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea class="form-control" name="content" id="content"></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
{{template "footer" .}}
{{end}}
